@font-face{
	font-family:REIS-Regular;
	src: url('../fonts/REIS-Regular.ttf');
}

@font-face{
  font-family:disco;
  src: url('../fonts/disco_7.ttf');

}

@font-face{
	font-family:OwnThatShhhh;
	src: url('../fonts/OwnThatShhhh.ttf');

}

@font-face{
	font-family:daniel-webfont;
	src: url('../fonts/daniel-webfont.ttf');

}

@font-face{
	font-family:THURSTON_erc_002;
	src: url('../fonts/THURSTON_erc_002.ttf');

}

@font-face{
	font-family:comesinhandy;
	src: url('../fonts/comesinhandy.ttf');

}

@font-face{
	font-family:DiamondsPearls;
	src: url('../fonts/DiamondsPearls.ttf');

}

@font-face{
	font-family:JennaSue;
	src: url('../fonts/JennaSue.ttf');

}

@font-face{
	font-family:Sketch_Block;
	src: url('../fonts/Sketch_Block.ttf');

}

@font-face{
	font-family:FAIL____;
	src: url('../fonts/FAIL____.ttf');

}

@font-face{
	font-family:whatever_it_takes;
	src: url('../fonts/whatever_it_takes.ttf');
}

@font-face{
	font-family:pops_08_BOLD;
	src: url('../fonts/pops_08_BOLD.ttf');

}

@font-face{
	font-family:pops_08_REGULAR;
	src: url('../fonts/pops_08_REGULAR.ttf');

}

@font-face{
	font-family:Scribulous_Scrawlin___by_Alphabeta85;
	src: url('../fonts/Scribulous_Scrawlin___by_Alphabeta85.ttf');

}

@font-face{
	font-family:Mawns_Handwriting;
	src: url('../fonts/Mawns_Handwriting.ttf');

}


@font-face{
	font-family:LSTKGarPenTin;
	src: url('../fonts/LSTKGarPenTin.otf');

}


@font-face{
	font-family:Ludicrous;
	src: url('../fonts/Ludicrous.ttf');

}


@font-face{
	font-family:HappyFox-Condensed;
	src: url('../fonts/HappyFox-Condensed.otf');

}

@font-face{
	font-family:GoodDog;
	src: url('../fonts/GoodDog.otf');

}

@font-face{
	font-family:FATSB___;
	src: url('../fonts/FATSB___.ttf');

}

@font-face{
	font-family:danielbk;
	src: url('../fonts/danielbk.ttf');

}

@font-face{
	font-family:ArchitectsDaughter;
	src: url('../fonts/ArchitectsDaughter.ttf');

}

@font-face{
	font-family:billy;
	src: url('../fonts/billy.ttf');

}

@font-face{
	font-family:Chomp;
	src: url('../fonts/Chomp.ttf');

}

@font-face{
	font-family:stay_writer;
	src: url('../fonts/Stay_Writer.ttf');

}


.boxx {
	max-width: 210px;
	float: right;
	margin: -7px;
	display: block;
}

.grid-item{
	float: left;
}

.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 200px; }

body{
	/*background-image: url("http://scribbler.elwiss.me/pictures/background/paper1.jpg");*/
	background-image: url('../pics/board.jpg');
	font-family: 'Open Sans', sans-serif;
}

.popover-title {
	margin-top: 0px;
	font-size: 12px;
	min-height: 100px;
	color: #9B9B9B;
	padding: 8px 8px;
	padding-right: 65px;
	font-weight: 400;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}


.popover-content {
	display: block;
    min-height: 26px;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.comment-owner {
    margin-right: 5px;
	color: #65a0d3;
    font-weight: bold;
}


.popover{
	position: absolute;
    top: 0;
    left: 50px;
    z-index: 2;
    display: none;
	border-radius: 0px;
    padding: 1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    white-space: normal;
	width: 300px;
	height:128px;
}

#hoveredDescription {
	color: #373737;
	font-weight: normal;
}

.popover .read-comments {
	cursor: pointer;
	right: 5px;
    position: absolute;
    color: #65a0d3;
    font-size: 12px;
	bottom: 6px;
	font-family: sans-serif;
}
.comment-icon{
	opacity: 0.6;
    margin-bottom: -4px;
    margin-left: 3px;
}

.notif-date {
	bottom: 31px;
	position: absolute;
	right: 5px;
	font-size: 10px;
	color: #aeaeae;
}

.popover.bottom>.arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    top: -11px;
}

.popover.top>.arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    bottom: -11px;
}

.popover>.arrow {
    border-width: 11px;
	border-bottom-color: white;
}
.popover>.arrow, .popover>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}




.comment-thumbnail {
    background-color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 10px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.popover-score {
	color: white;
    background-color: #428bca;
    padding: 4px;
    position: absolute;
    left: -1px;
    font-size: 15px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 5px;
	font-family: sans-serif;
}

.popover-score .upvote{
	transform: rotate(180deg);
}

.grid-item{
	cursor: pointer;
}

.arrow-up {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid white;
	top: -15px;
	left: 121px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid white;
	position: absolute;
	bottom: -15px;
	left: 130px;
}

.arrow-right {
	width: 0;
	height: 0;
	right: -15px;
	top: 42px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid white;
	position: absolute;
}

.arrow-left {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
	top: 35px;
	left: -15px;
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-effect-2 .md-content {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.modal-body{
  background-color: #F7F7F7;
  margin-bottom: -15px;
}

.modal-dialog {
	width:600px;
	margin: 30px auto
}

.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}

.modal-sm {
	width: 300px
}

#CommentDetailMoadl{
	width: 100%;
    min-height: 280px;
    margin-bottom: 60px;
    background-color: #F7F7F7;
	padding-bottom: 15px;
    border-radius: 20px;
    height: auto;
    max-width: 65%;
}
.modal-comment-container{
	padding-left: 62px;
    margin-right: 30px;
    padding-top: 5px;
	min-height: 50px;
    padding-bottom: 10px;
    margin-top: 15px;
    position: relative;
	font-size: 13px;
    margin-left: 23px;
    background-color: white;
    height: auto;
    text-align: left;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0 2px 1px rgba(255, 255, 255, 0.5);
}

.read-more {
	color:#65a0d3;
	margin-left:5px;
	cursor:pointer;
}

#splash-screen {
	text-align: center;
	position: absolute;
	left: 0;
	width: 100%;
	font-size: 30px;
	top: 20%;
	font-family: ArchitectsDaughter;
	color: #f2ecec;
	opacity: 0.8;
 }

#github-star{
	position: fixed;
	right: 10px;
	bottom: 5px;
	background-color: rgba(255, 255, 255, 0.55);
	padding: 10px;
	padding-bottom: 4px;
	height: auto;
	border-radius: 4px;
	display: none;
}

.reddit-btn {
	cursor: pointer;
	float: left;
    font-size: 13px;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 4px;
    margin-right: 4px;
	color: black;
	text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    background-color: #eee;
	font-weight: 600;
    background-image: -webkit-linear-gradient(top,#fcfcfc,#eee);
    background-image: -moz-linear-gradient(top,#fcfcfc,#eee);
    background-image: linear-gradient(to bottom,#fcfcfc,#eee);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee')";
    border-radius: 3px;
}

.subreddit-content  {

}

.reddit-icon{
    height: 25px;
    margin-top: 1px;
    margin-bottom: -6px;
}
