<!DOCTYPE html>
<html ng-app="app" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <title>data-framework="angularjs"</title>
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
  </head>
  <body>
    <div ng-controller="boardController as bctl" id="container">
      <div ng-repeat="comment in bctl.comments" >
        <comment-subreddit comment="comment"></comment-subreddit>
      </div>
      <button ng-click="console.log(bctl.comments.length)">clickme</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="libs/jquery.nested.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="index.module.js"></script>
    <script src="core/core.module.js"></script>
    <script src="components/components.module.js"></script>
    <script src="components/comment/comment.directive.js"></script>
    <script src="core/board.controller.js"></script>
    <script src="core/subreddit.service.js"></script>
  </body>
</html>
